# macOS
.DS_Store

# Obsidian
.obsidian/
!.obsidian/app.json
!.obsidian/appearance.json
!.obsidian/core-plugins.json
!.obsidian/graph.json

# Logs
*.log

# Environment variables
.env
.env.*

# Dependencies
node_modules/

# Build output
dist/
build/

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.swp